.header{
  width:100%;
  height:63px;

}
.logo{

  color:#663399;
  font-size:25px;
  font-family:verdana;
  text-align:left;
  margin-top:0px;
  float:left;
  margin:0px;
  line-height:50px;
  padding-left:9px;

}

.bookimg-form-box{
                  max-width: 800px;
                  border: 4px solid #FBFBFF;
                  border-radius: 10px;
                  margin: auto ;
                  text-align: center;
                  /*background-color: #FBFBFF;*/
                  opacity: 0.9;
                  color: #4B4B4B;
                 }

.radio-btn{
  margin: 0 20px;
}

.radio-btn .btn{
  margin: 20px 10px 20px 0;
  box-shadow: none;
}

.radio-btn .btn::after{
  content: '';
  height: 15px;
  width: 15px;
  top: -2px;
  background-color: #fff;
  position: relative;
  display: inline-block;
  border: 3px solid #fff ;
  visibility: visible;
  border-radius: 50%;
}

.radio-btn .btn:checked::after{
  content: '';
  background-color: #000;
  transition: 0.5s;
}

.radio-btn span {
  color: black;
  margin-right: 5px;
  font-size: 12px;
}

.bookimg-form{
  padding: 0 20px 20px;
}

.bookimg-form label{
  margin-bottom: 5px;
  margin-top: 10px ;
  font-size: 12px;
  color: black;
}

input::placeholder{
  color: black !important ;
}

.input-grp{
  width: 151px;
  display: inline-block;
  margin: 20px;
  
}

.form-control{
  width: 110% !important;
  font-size: 18px !important;
  border-radius: 10px !important;
  border: 4px #FBFBFF !important;
  color: #4B4B4B !important;
  background: transparent blue !important;
  box-shadow: none !important;
  padding: 10px !important;
  
 
  
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button{
  -webkit-appearance:none;
  margin: 0;
  
}

.select-date::-webkit-calender-icker-indicator{
  background: transparent !important;

}

.custom-select{
  color: black !important;
  font-size: 19px !important;
  border: 2px solid #FBFBFF !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  background: transparent blue !important ;
  margin: 3px 20px;
  padding: 10px;
}

.custom-select option{
  color: #BADDF2;
  font-size: 20px;
}


.about {
  width: 100%;
  padding: 70px 0px;

}

.button {
  background:gray;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 10px;
  transition: 0.5s;
}



button:hover {
  background:#BADDF2;
  border: 2px solid transparent gray;
  cursor: pointer;
}

.container {
  padding: 16px;
}

  span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 40.375em) {
  span.psw {
    display: block;
    float: none;
  }
  }


  /*log in, sign in part */

  form {
    border: 3px solid #f1f1f1;
  }

  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (min-width: 40.375em) {
    span.psw {
      display: block;
      float: none;
    }
    }

  /*log in, sign in part */
        .pos{
        margin: 20px;
        padding: 50px;
        border: 15px solid white;
         }

       .pos p {
           color: #274C77;
           font-size: 20px;
           font-family: 'El Messiri', sans-serif;
           }




         .bar {
          overflow: hidden;
          background-color: #333;
          }

          .bar a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

  .bar a:hover {
          background-color: #ddd;
          color: black;
        }

@media screen and (max-width: 600px) {
  .bar a {
            float: none;
            width: 100%;
          }
        }

       .parent{
        border: 2px rgb(248, 245, 247) double;
        display: inline-block;
        }

       .box{
        display:inline-block;
        background: #333;
        width: 300px;
        height: 420px;
        margin-bottom: 50px;
        }

        div.dc {
          margin: 0.5%;
          border: 3px solid #ccc;
          float: left;
          width: 40%;
        }

        div.dc:hover {
          border: 1px solid #777;
        }

        div.dc img {
          width: 100%;
          height: auto;
        }

        div.dc {
          padding: 0.5%;
          text-align: center;
          font-size: 8pt;
          background: #4B4B4B;
          border-radius: 10px;
         }

        .T{
          margin-right:15%;
          margin-left: 25%;
          
        }

        .dotted {
          border-top: 3px dotted #bbb;
        }
        .p1{
          font-size: 11pt;
          margin-right: 15%;
          margin-left: 15%;
          color: #4B4B4B;
        }
        .h{
          margin-right: 15%;
          margin-left: 15%;
          color:#040F16;
        }

        .h-text {
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #BADDF2;
        }


        div.gallery {
          margin: 0.5%;
          border: 1px solid #ccc;
          float: left;
          width: 30%;
        }

        div.gallery:hover {
          border: 1px solid #777;
        }

        div.gallery img {
          width: 100%;
          height: auto;
        }

        div.desc {
          padding: 0.5%;
          text-align: center;
          font-size: 8pt;
        }
        .hr1{
          margin-right: 15%;
          margin-left: 15%;

        }
        .m{
          margin-right: 15%;
          margin-left: 15%;
        }
        .ResBox {
          width: 700px;
          background-color: #FBFBFF;
          border-radius: 10px ;
          padding: 50px;
          margin: auto;
          opacity: 0.9;
          text-align: center;
          color: #4b4b4b;
      }
